<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>API_KEY</key>
	<string>AIzaSyDzPT6IpGCLQbb0qRRzNKhbgujzSxgrWZc</string>
	<key>GCM_SENDER_ID</key>
	<string>483402532230</string>
	<key>PLIST_VERSION</key>
	<string>1</string>
	<key>BUNDLE_ID</key>
	<string>com.adev.KisahLoka</string>
	<key>PROJECT_ID</key>
	<string>kisahloka-app</string>
	<key>STORAGE_BUCKET</key>
	<string>kisahloka-app.appspot.com</string>
	<key>IS_ADS_ENABLED</key>
	<false></false>
	<key>IS_ANALYTICS_ENABLED</key>
	<false></false>
	<key>IS_APPINVITE_ENABLED</key>
	<true></true>
	<key>IS_GCM_ENABLED</key>
	<true></true>
	<key>IS_SIGNIN_ENABLED</key>
	<true></true>
	<key>GOOGLE_APP_ID</key>
	<string>1:483402532230:ios:23a8ecb4733e274b201807</string>
</dict>
</plist>